<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.chatting.model.mapper.ChattingMapper">
	
	<select id="selectStudyRoomList">
    SELECT
      S.STUDY_NO,
      S.STUDY_NAME,
      (
        SELECT MESSAGE_CONTENT
        FROM STUDY_MESSAGE
        WHERE STUDY_NO = S.STUDY_NO
        ORDER BY MESSAGE_NO DESC
        FETCH FIRST 1 ROWS ONLY
      ) AS LAST_MESSAGE,
      (
        SELECT TO_CHAR(SEND_TIME, 'YYYY.MM.DD HH24:MI')
        FROM STUDY_MESSAGE
        WHERE STUDY_NO = S.STUDY_NO
        ORDER BY MESSAGE_NO DESC
        FETCH FIRST 1 ROWS ONLY
      ) AS SEND_TIME,
      (
        SELECT COUNT(*)
        FROM STUDY_MESSAGE M
        WHERE M.STUDY_NO = S.STUDY_NO
        AND M.SENDER_NO != #{memberNo}
      ) AS NOT_READ_COUNT
    FROM STUDY S
    JOIN STUDY_MEMBER SM ON S.STUDY_NO = SM.STUDY_NO
    WHERE SM.MEMBER_NO = #{memberNo}
  </select>

  <select id="selectMessageList">
    SELECT
      MESSAGE_NO,
      MESSAGE_CONTENT,
      SENDER_NO,
      (
        SELECT MEMBER_NICKNAME
        FROM MEMBER
        WHERE MEMBER_NO = M.SENDER_NO
      ) AS SENDER_NICKNAME,
      STUDY_NO,
      TO_CHAR(SEND_TIME, 'YYYY.MM.DD HH24:MI') AS SEND_TIME
    FROM STUDY_MESSAGE M
    WHERE STUDY_NO = #{studyNo}
    ORDER BY MESSAGE_NO
  </select>

  <insert id="insertMessage">
    INSERT INTO STUDY_MESSAGE (
      MESSAGE_NO, MESSAGE_CONTENT, SEND_TIME, SENDER_NO, STUDY_NO
    ) VALUES (
      SEQ_STUDY_MESSAGE_NO.NEXTVAL, #{messageContent}, SYSDATE, #{senderNo}, #{studyNo}
    )
  </insert>
	

	
</mapper>

